.bin {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 30vw;
    background-color: #fff;
    box-shadow: 10px 2px 30px rgba(0,0,0,0.2);
    right: 0;
    padding: 30px;
    float: right;
}

.cartIconWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}

.cartImg {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url('img/Cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
}

.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.closeLine, .closeLine2 {
    width: 30px;
    height: 1px;
    background-color: #000;
}

.closeLine {
    transform: rotate(45deg);
}

.closeLine2 {
    transform: rotate(-45deg);
}

.cardItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.imgBlock {
    align-items: center;
}

.imgBlock img{
    height: 50px;
    width: 50px !important;
    padding-right: 20px;
}

.cart {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.cart h2 {
    display: block;
    text-align: center;
}

.firstRow :first-child, .cartItem :first-child {
    width: 40%;
}

.firstRow :not(:first-child), .cartItem :not(:first-child) {
    width: 25%;
}

.totalWrap {
    align-items: center;
    margin-top: 16px;
    padding-top: 20px;
    border-top: 1px solid rgb(185, 185, 185);
}

/* .firstRow *, .secondRow *:not(:first-child)*/

/* .firstRow:nth-child(2) {
    width: 33%;
} */

.purchase {
    display: fixed;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

.purchaseBtn {
    padding: 15px 25px;
    background-color: #A7D3FA;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.purchaseBtn:hover {
    background-color: #78a9d4;
}

.card:hover {
    box-shadow: 10px 2px 30px rgba(0,0,0,0.3);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .card img{
    width: 200px;
} */

/* .item-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
} */

.counter {
    width: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
}


@media (max-width: 575px) {
    .bin {
        width: 100%;
    }
}