h3, .item-info :not(:last-child) {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px 3px 0px;
}

h2 {
    margin-bottom: 20px !important;
}

h3 {
    font-size: 22px !important;
}

.goods {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    box-shadow: 6px 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.item:hover{
    box-shadow: 6px 2px 30px rgba(0,0,0,0.2);
}

.image {
    width: 100%;
    user-select: none;
}

.addToCart{
    float: right;
    transition: all 0.5s ease;
}

.addToCart:hover{
    background-color: #78a9d4;
}

.priceAndBtn b{
    margin-right: 10px;
}

.addToCart {
    padding: 10px 15px;
    background-color: #A7D3FA;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.card-controls{
    margin: 10px 0px  !important;
    display: flex;
    justify-content: space-between;
}

.min, .plu {
    border-radius: 24px;
    width: 34px !important;
    height: 34px !important;
    border-style: none;
    border: 1px solid rgb(228, 228, 228); 
    background-color: #fff;
    transition: all 0.3s ease;
}

.min:hover, .plu:hover {
    background-color: rgb(228, 228, 228);
}