.burger {
    display: block;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 4px;
}

.burger::after { 
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 4px;
}

.burger::before {
    display: block;
    position: absolute;
    content: "";
    top: -10px;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 4px;
    transition: all 0.2s ease;
}

.burgerWrapper {
    width: 30px;
    margin: 20px 10px;
    display: inline-block;
    cursor: pointer;
}

.burgerWrapper:hover {
    opacity: 50%;
}

.left-menu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 50px;
    overflow: hidden;
    /* inset: 10px; */
    background-color: white;
    z-index: 99;
    border-right: 1px solid rgba(0, 0, 0, 0.158);
    transition: all 0.3s ease-in-out;
}

.left-menu-items {
    display: flex;
    flex-direction: column;
}

.left-menu-items a{
    text-decoration: none;
}

.left-menu-items img {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.left-menu-items-box{
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.left-menu-items-box:hover{
    background-color: aliceblue;
}